p {
    font-family: "Roboto", sans-serif;
}

li {
    list-style: none;
}

.img-rounded {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.avatar {
    border: 1px solid #e4e3e3;
}

.menu-contact {
    display: flex;
    background-color: #fdfdfd;
    padding:5px;
    align-items: center;
    cursor: pointer;
}

.menu-contact:not(:last-child) {
    border-bottom: 1px solid #f1efef;
}

.menu-contact:hover {
    background-color: #f8f8f8;
}

.menu-contact:active {
    background-color: #f0f0f0;
}

.description-container {
    margin-left: 5px;
}

.title {
    font-size: 15px;
    font-weight: bold;
    line-height: 0;
}

.description {
    font-size: 12px;
    color: #9e9e9e;
}